@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #746060, 0 0 #746060, 0 0 #746060, 0 0 #746060, 0 0 #746060,
      0 0 #746060, 0 0 #746060, 0 0 #746060;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #746060, 2px -2px #746060, 3px -3px #746060,
      4px -4px #746060, 5px -5px #746060, 6px -6px #746060, 7px -7px #746060,
      8px -8px #746060;
    transform: translateX(-8px) translateY(8px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  background-color: #f4f5fb;
}

label {
  font-weight: 700;
}

/* ajustando a logo */
.container {
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
/* Ajustando a logo para devices */
@media (width < 26.9375rem) {
  .container {
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}

/* Configurando o form */
#form {
  width: 100%;
  max-width: 39.1875rem;
  margin: 0 auto;
  display: flex;
  gap: 0.5rem;

  & label {
    display: none;
  }
  & #newItem {
    padding: 1rem;
    width: 39.1875rem;
    height: 2.75rem;
    border-radius: 0.9375rem;
    border: solid 0.0625rem #a7a7a7;
    align-items: center;
  }
  & #btn {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(255, 146, 83);
    border: none;
    border-radius: 15px;
    width: 160px;
    height: 44px;
    align-items: center;
  }
  & .shadow-pop-tr:hover {
    animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    background-color: #3e3e3e;
    cursor: pointer;
  }
}
@media (width < 26.9375rem) {
  #form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    & #newItem {
      margin-top: 0.3rem;
      margin-bottom: 1rem;
    }
    & label {
      display: flex;
    }
    & #newItem,
    #btn {
      padding: 1rem;
      width: 20rem;
      height: 2.75rem;
      border-radius: 15px;
      border: solid 1px #a7a7a7;
    }
    & #btn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border: none;
      cursor: pointer;
      background-color: rgb(255, 146, 83);
    }
    & .shadow-pop-tr:hover {
      animation: none;
    }
  }
}

/* Formatando a lista de items */
.container-ul {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

.container-ul::-webkit-scrollbar {
  width: 8px;
}

.container-ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.container-ul::-webkit-scrollbar-thumb {
  background: #ff9253;
  border-radius: 4px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
li {
  padding: 8px 12px;
  display: flex;
  width: 627px;
  justify-content: space-between;
  background-color: white;
  height: 3.0625rem;
  border-radius: 10px;
  font-size: 0.85rem;

  & div {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    & input[type="checkbox"] {
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 6px;
      border: 2px solid #aaa;
      cursor: pointer;
      display: inline-block;
      position: relative;
    }

    & input[type="checkbox"]:checked {
      background-color: #30af25;
      border-color: #30af25;
    }

    & input[type="checkbox"]:checked::after {
      content: "✔";
      font-size: 14px;
      color: white;
      position: absolute;
      left: 3px;
      top: -1px;
    }
  }
  & button {
    border: none;
    background-color: transparent;
    margin-right: 1rem;
    cursor: pointer;
  }
}
/* configurando a lista para mobile */
@media (width < 26.9375rem) {
  .container-ul {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  li {
    padding: 8px 12px;
    display: flex;
    width: 327px;
    justify-content: space-between;
    background-color: white;
    height: 3.0625rem;
    border-radius: 10px;
    font-size: 0.765rem;
    font-weight: 300;

    & div {
      display: flex;
      gap: 0.75rem;
      align-items: center;

      & input[type="checkbox"] {
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 6px;
        border: 2px solid #aaa;
        cursor: pointer;
        display: inline-block;
        position: relative;
      }

      & input[type="checkbox"]:checked {
        background-color: #30af25;
        border-color: #30af25;
      }

      & input[type="checkbox"]:checked::after {
        content: "✔";
        font-size: 14px;
        color: white;
        position: absolute;
        left: 3px;
        top: -1px;
      }
    }
    & button {
      border: none;
      background-color: transparent;
      margin-right: 1rem;
      cursor: pointer;
    }
  }
}
